version: "3.8"

services:
  ubos-develop:
    container_name: ubos-develop-${CHANNEL:-red}
    image: ubos/ubos-develop-${CHANNEL:-red}:latest
    working_dir: /home/ubosdev
    privileged: true
    ports:
      - 8080:80
      - 8443:443
    volumes:
      - ./decko:/home/ubosdev

#  ubos-target:
#    container_name: ubos-target
#    image: ubos/ubos-target-${CHANNEL:-red}:latest
#    working_dir: /var/shepherd
#    privileged: true
#    volumes:
#     - ./var-shepherd:/var/shepherd
