require File.expand_path('../boot', __FILE__)

require 'decko/all'

module DeckoUbos
  class Application < Decko::Application

    # Decko inherits Rails configuration options.  See http://guides.rubyonrails.org/configuring.html

    config.recaptcha_public_key  = '${installable.customizationpoints.recaptcha_public_key.value}'
    config.recaptcha_private_key = '${installable.customizationpoints.recaptcha_private_key.value}'
    # config.recaptcha_proxy = ...

    config.cache_store = :dalli_store, '127.0.0.1:11211'

    # config.action_dispatch.default_headers = {
    #  'X-Frame-Options' => 'ALLOWALL'
    # }

    config.paths['log'] = "/var/log/${package.name}/${appconfig.appconfigid}/production.log"

    config.action_mailer.smtp_settings = { :address => 'localhost' }
    config.email_defaults = { :from => '${installable.customizationpoints.sender_email.value}' }
  
    # config.relative_root_url = "${appconfig.contextorslash}"
  end
end

