# MultiViews not compatible with Passenger
Options -MultiViews

# we make heavy use of symlinks.  this is important
Options +FollowSymLinks

# for uuid gem. variable is used in a custom initializer in decko (uuid_state_file.rb)
SetEnv UUID_STATE_FILE off

# Deck dir
PassengerAppRoot ${appconfig.datadir}

# relative root for the app; sets Rails env var RAILS_RELATIVE_URL_ROOT
RackBaseURI ${appconfig.contextorslash}

# turn off passenger error pages with traces
PassengerFriendlyErrorPages off

